<!-- <div style="text-align:left">
  
  <br>
  
</div>
-->

<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <a mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </a>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <a mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-menu-item routerLink="/characters">
        <mat-icon>people_outline</mat-icon>
        <span>Personajes</span>
      </a>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Aplicación de Prueba</span>
</mat-toolbar>
<router-outlet></router-outlet>
